<html xmlns:th="http://thymeleaf.org">
<head>
<title>Mars Rover API App</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />
</head>
<body>
	<div class="container">
		<h2>Welcome to the Mars Rover API Web App</h2>

		<form method="get" action="" id="frmRovers">
			<input type="hidden" id="marsRoverApiData" name="marsRoverApiData" value=""/>
			<div class="btn-group-lg" role="group" style="margin: 2em 0em;">
				<button type="button" class="btn btn-secondary" id="marsApiCuriosity">Curiosity</button>
				<button type="button" class="btn btn-secondary" id="marsApiOpportunity">Opportunity</button>
				<button type="button" class="btn btn-secondary" id="marsApiSpirit">Spirit</button>
			</div>
		</form>

		<div
			th:each="index : ${#numbers.sequence(0, roverData.photos.size(), 4)}"
			class="row" style="margin-bottom: 1.5em">
			<div class="col" th:if="${index < roverData.photos.size()}">
				<img th:src="${roverData.photos[index].imgSrc}" class="img-fluid">
			</div>
			<div class="col" th:if="${index +1 < roverData.photos.size()}">
				<img th:src="${roverData.photos[index +1].imgSrc}" class="img-fluid">
			</div>
			<div class="col" th:if="${index +2 < roverData.photos.size()}">
				<img th:src="${roverData.photos[index +2].imgSrc}" class="img-fluid">
			</div>
			<div class="col" th:if="${index +3 < roverData.photos.size()}">
				<img th:src="${roverData.photos[index +3].imgSrc}" class="img-fluid">
			</div>
		</div>
		<!-- <img th:each="photo : ${roverData.photos}" th:src="${photo.imgSrc}"> -->
	</div>
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>